:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --second-accent-color: #ffffff;
}

body {
  background-color: var(--second-accent-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
}
h1,
h2,
h3,
p,
ul {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.header {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}
.header__box {
  display: flex;
  align-items: center;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /*outline: 2px solid red;*/
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
/* nav */
.nav {
  display: flex;
  align-items: center;
}
.nav__logo {
  padding: 0px;
  margin: 0px;

  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.nav__span {
  color: var(--accent-color);
}

.nav__list {
  display: flex;
  margin-left: 93px;
}

.nav__list .nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__control {
  position: relative;
  display: flex;
  align-items: center;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 0.88;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.nav__control:hover,
.nav__control:focus {
  color: var(--accent-color);
}
.nav__control.current:after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}
.current {
  color: var(--accent-color);
}

/* contacts*/
.contacts {
  display: flex;
  margin-left: auto;
}
.contacts .contacts__link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 0.88;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
}
.contacts .contacts__item + .contacts__item {
  margin-left: 50px;
}
.contacts .contacts__link {
  display: flex;
  align-items: center;

  padding-top: 32px;
  padding-bottom: 32px;
}
.contacts__icon {
  width: 16px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
}

/* hero */
.hero {
  background: #2f303a;
  text-align: center;
  padding: 200px 0;
  margin-bottom: 0px;
}
.overlay {
  max-width: 1600px;
  height: 600px;
  background-color: #000000;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}
.hero__title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 30px;

  color: var(--second-accent-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* button */
button {
  font-family: inherit;
  display: inline-block;
}
.hero__button {
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 200px;
  height: 50px;
  border: transparent;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  color: var(--second-accent-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 0.06em;
}
.hero__button:hover,
.hero__button:focus {
  background-color: #188ce8;
}
.navigation__butoon {
  cursor: pointer;
  padding: 6px 22px;
  min-width: 73px;
  border: transparent;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;
  letter-spacing: 0.03em;

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__butoon:hover,
.navigation__butoon:focus {
  color: var(--second-accent-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.navigation__butoon.active-btn {
  color: var(--second-accent-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*benefits*/
.benefits {
  padding-bottom: 47px;
}
.benefits-box {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.benefits-list {
  display: flex;
}
.benefits-list .benefits__item:not(:last-child) {
  margin-right: 30px;
}

.benefits__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(245, 244, 250, 1);
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
}

/*.benefits__item::before {
  display: block;
  content: '';
  height: 120px;

  background-image: url(../images/symbol-defs.svg#icon-antenna);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(245, 244, 250, 1);
}*/

.benefits__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 10px;
}
.benefits__text {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 0px;
}

/*activity*/
.activity {
  padding-top: 47px;
}
.activity__title {
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.activity__list {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.activity__item {
  position: relative;
}
.activity__item:not(:last-child) {
  margin-right: 30px;
}

.activity__picture {
  width: 370px;
  height: 294px;
}

.activity__text {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;

  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--second-accent-color);
  background-color: rgba(47, 48, 58, 0.8);
}
/*team*/
.team {
  color: var(--title-text-color);
  background: #f5f4fa;
}
.team__title {
  margin-top: 0px;
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.team__list {
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}
.team__card {
  margin-top: 0px;
  margin-bottom: 0px;

  width: 270px;
  background-color: var(--second-accent-color);
}

.team__list .team__card:not(:last-child) {
  margin-right: 30px;
}
.team__about {
  text-align: center;
  padding: 30px 0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__card .team__about {
  display: flex;
  flex-direction: column;

  margin-top: 0px;
  margin-bottom: 0px;
}
.team__card .team__foto {
  width: 270px;
  overflow: hidden;
}
.team__about__title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.team__about__text {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/*.networks*/
.networks {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.networks__list {
  width: 44px;
  height: 44px;
  margin-left: 10px;
}
.networks__list:first-child {
  margin-left: 0;
}

.networks__link {
  display: flex;
  align-items: center;
  justify-content: center;

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ffffff;
  color: #afb1b8;
}

.networks__icon {
  fill: currentColor;
}
.networks__icon:hover,
.networks__icon:focus {
  background-color: #2196f3;
  color: #ffffff;
}

/*clients*/
.clients__text {
  color: var(--title-text-color);
  margin-top: 0px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.clients__item {
  display: flex;
  align-items: center;
  justify-content: first baseline;
}
.clients__list {
  width: 170px;
  height: 92px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__list:not(:last-child) {
  margin-right: 30px;
}
.clients__list:hover,
.clients__list:focus {
  color: var(--accent-color);
}
.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;

  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  width: 100%;
  height: 100%;
  color: #afb1b8;

  border: 1px solid #afb1b8;
  border-radius: 4px;
}
.clients__link:hover,
.clients__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
.clients__icon {
  fill: currentColor;
}
/* ////////////   что то отвалилось ////////////   */
.ection-title {
  background-color: #f5f4fa;
}

.feature-list .title {
  color: var(--title-text-color);
}
/*    что то отвалилось    */

/*portfolio*/
/*navigation*/
.navigation {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
/*/////// неизвестная кнопка///*/
.picture-button {
  background: rgba(47, 48, 58, 0.8);
  color: var(--second-accent-color);
  border: transparent;
}
/*///////*/
.navigation__list:not(:last-child) {
  margin-right: 8px;
}
/*portfolio*/
.portfolio {
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: var(--second-accent-color);
}
.portfolio__item {
  display: flex;
  flex-wrap: wrap;
}
.portfolio__list {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
}

.portfolio__list:nth-child(3n) {
  margin-right: 0;
}
.portfolio__link {
  display: block;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover,
.portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__link:hover .portfolio__text,
.portfolio__link:focus .portfolio__text {
  transform: translateY(0);
}

.portfolio__text {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: var(--accent-color);
  color: #ffffff;
  padding: 63px 24px;
}
.portfolio__cart {
  position: relative;
  overflow: hidden;
}

.portfolio__wrap {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.portfolio__name {
  margin-top: 0px;
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio__about {
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

/* footer */
.fooret {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.fooret__container {
  display: flex;
  align-items: baseline;
}
.footer__box {
  flex-grow: 1;
  margin-right: 70px;
}
.footer__link {
  display: block;
  color: var(--second-accent-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  margin-top: 0px;
  margin-bottom: 20px;
}
.footer__span {
  color: var(--accent-color);
}
/*address*/
.address__list {
  color: var(--second-accent-color);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  margin-top: 0px;
  margin-bottom: 9px;
}
.address__link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  margin-top: 0px;
  margin-bottom: 9px;
}
.address__link:hover,
.address__link:focus {
  color: var(--accent-color);
}

/*networks*/

.networks__list > .call__link {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--second-accent-color);
}
.call__link:hover,
.call__link:focus {
  background-color: var(--accent-color);
}

.call__strong {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--second-accent-color);
}
/*subscribe*/
.subscribe {
  display: flex;
  flex-direction: column;
  margin-left: 93px;
}
.subscribe__strong {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
.subscribe__box {
  display: flex;
  align-items: center;

  margin-top: 20px;
}

.subscribe__label {
  display: block;
}

.subscribe__input {
  background-color: transparent;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.subscribe__input::placeholder {
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--second-accent-color);
  border: transparent;
  margin-left: 12px;
  border-radius: 4px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.subscribe__icon {
  fill: #ffffff;
  margin-left: 10px;
}
/*modal*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden.modal {
  transform: translate(-50%, -50%) scale(0.5);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  width: 528px;
  height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}
.modal__button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  cursor: pointer;

  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
  top: 8px;
  right: 8px;
}

.modal__icon {
  fill: #000000;
}
.modal__header {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
  margin-bottom: 12px;
}
.form__name {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.01em;

  color: #757575;
}
.form__wrap {
  display: block;
  position: relative;
}
.form__input {
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  margin-bottom: 10px;
  margin-top: 4px;
  padding: 11px 12px;
  outline: none;
}

.form__input:focus {
  border-color: var(--accent-color);
}
.form__input:focus + icon-wrap {
  fill: var(--accent-color);
}

.form__icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.form__textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  margin-top: 4px;
}
/*checkbox*/
.checkbox {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
}
.option {
  display: block;
  position: relative;
}

.checkbox__wrap {
  position: absolute;
}
.checkbox__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.checkbox__input {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  background-image: url(../images/icons.svg.svg#icon-vector);
}
.checkbox__input:checked + .checkbox__input {
  background-image: url(../images/icons.svg.svg#icon-heck);
}
.checkbox__icon {
  position: absolute;
  margin-top: 20px;
  left: 0;
  top: 100%;
  transform: translateY(-100%);
}
.checkbox a {
  color: var(--accent-color);
}
/*/////////что то выпало///////*/
.modal-coment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  background-color: transparent;
  margin-bottom: 20px;
  margin-top: 4px;
  padding-left: 16px;
}
.modal-coment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
/*///////////////////////////////////////*/
.checkbox__btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.06em;

  color: #ffffff;
}

/* второй цвет текста #212121 */
/* основной цвет текста #757575 */
/* белый #FFFFFF */
/* акцент #2196F3 */
/* вторичный цвет фона #F5F4FA */
