.contacts {
    display: flex;
    margin-left: auto;
  }

  .contacts .contacts__link {
    display: flex;
    align-items: center;
  
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 0.88;
    letter-spacing: 0.02em;
  
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .contacts .contacts__item + .contacts__item {
    margin-left: 50px;
  }

  .contacts__icon {
    width: 16px;
    height: 12px;
    fill: currentColor;
    margin-right: 10px;
  }