.clients__text {
    color: var(--title-text-color);
    margin-top: 0px;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
  }
  .clients__item {
    display: flex;
    align-items: center;
    justify-content: first baseline;
  }
  .clients__list {
    width: 170px;
    height: 92px;
  
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:not(:last-child) {
      margin-right: 30px;
    }

    &:hover,
    &:focus {
    color: var(--accent-color);
  }
  }

  
  .clients__link {
    display: flex;
    align-items: center;
    justify-content: center;
  
    transition-property: color, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
    width: 100%;
    height: 100%;
    color: #afb1b8;
  
    border: 1px solid #afb1b8;
    border-radius: 4px;

    &:hover,
    &:focus {
      color: var(--accent-color);
      border-color: var(--accent-color);
    }
  }

  .clients__icon {
    fill: currentColor;
  }
  

  